<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>测试 - layui</title>
  <link rel="stylesheet" href="layui/css/layui.css">
</head>

<body>

  <div class="layui-container layui-panel" style="margin-top: 30px;">

    <div style="margin-top: 30px;">
      <span class="layui-breadcrumb layui-hide" lay-filter="demo1">
        <a>根目录</a>
        <span id="nav"></span>
      </span>
    </div>


    <div class="layui-btn-container" style="margin-top: 30px;">
      <button class="layui-btn" test-active="back_to_root_path">
        <i class="layui-icon layui-icon-home"></i> 返回根目录</button>
      <button class="layui-btn" test-active="back_to_prev_path">
        <i class="layui-icon layui-icon-prev"></i> 返回</button>
      <button class="layui-btn" id="upload_file" test-active="upload_file">
        <i class="layui-icon layui-icon-upload"></i> 上传文件</button>
      <button class="layui-btn" test-active="zip_and_download">
        <i class="layui-icon layui-icon-download-circle"></i> 压缩并下载当前目录</button>
      <button class="layui-btn layui-hide" test-active="create_folder">新建文件夹</button>
      <button class="layui-btn layui-hide" test-active="create_file">新建文件</button>
      <button class="layui-btn layui-hide" test-active="add-nav">新增标签</button>
      <button class="layui-btn" test-active="jmp_path">
        <i class="layui-icon layui-icon-next"></i> 跳转到指定目录</button>
    </div>

    <input type="text" class="layui-input" placeholder="请输入跳转目录">

    <table id="demo" lay-filter="test" lay-data="{id: 'idTest'}"></table>

  </div>

  <script src="layui/layui.js"></script>
  <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      <a class="layui-btn layui-btn-xs layui-hide" lay-event="edit">编辑</a>
    </script>
  <script>
    layui.use(function () {
      var layer = layui.layer
        , form = layui.form
        , laypage = layui.laypage
        , element = layui.element
        , laydate = layui.laydate
        , table = layui.table
        , upload = layui.upload
        , $ = layui.$
        , util = layui.util;

      //上传文件
      var uploadInst = upload.render({
        elem: '#upload_file'
        , url: 'http://127.0.0.1:8080/UploadFile'
        , multiple: true
        , exts: 'xls|xlsx|csv|zip|pdf|doc|docx|png|jpeg|jpg|gif|log|txt'
        , allDone: function (obj) {
          layer.msg(`文件总数：${obj.total}\n成功数：, ${obj.successful}\n失败数：${obj.aborted}`)
          tableIns.reload({
            url: "http://127.0.0.1:8080/ReloadCurPath",
          });
        }
        , error: function () {
          layer.msg("文件上传失败")
        }
      });

      var tableIns = table.render({
        elem: '#demo'
        , url: "http://127.0.0.1:8080/BackToRootPath"
        , page: false
        , autoSort: true
        , initSort: { field: 'type', type: 'desc' }
        , even: true
        , skin: "line"
        , cols: [[
          { fixed: 'left', field: 'id', hide: true }
          , { field: 'filename', title: '文件名', sort: true }
          , { field: 'size', title: '大小' }
          , { field: 'modtime', title: '修改日期', sort: true }
          , { field: 'type', title: '类型', sort: true }
          , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200 }
        ]],
      });

      //触发事件
      util.event('test-active', {
        'back_to_root_path': function () {
          tableIns.reload({
            url: "http://127.0.0.1:8080/BackToRootPath",
          });
        },
        'back_to_prev_path': function () {
          tableIns.reload({
            url: "http://127.0.0.1:8080/BackToPrevPath"
          });
        },
        'upload_file': function () {

        },
        'zip_and_download': function () {

        },
        'add-nav': function () {
          $('#nav').append('<span lay-separator="">/</span><a href="">filename</a>')
        },
        'jmp_path': function () {
          tableIns.reload({
            url: "http://127.0.0.1:8080/JoinNextPath",
            where: { curpath: "D:\\" },
          });
        }
      });

      //行单击
      table.on('row(test)', function (obj) {
        if (obj.data.type === "文件") {
          layer.msg("暂不支持文件访问")
          return
        }
        tableIns.reload({
          url: "http://127.0.0.1:8080/JoinNextPath",
          where: { curpath: obj.data.filefullpath },
        });
      });

      //监听行工具事件
      table.on('tool(test)', function (obj) {
        var data = obj.data;
        if (obj.event === 'del') {
          layer.confirm('确定删除文件？', function (index) {
            layer.msg("删除文件");
            layer.close(index);
          });
        } else if (obj.event === 'download') {
          layer.msg("进行下载");
        }
      });

      //监听导航点击
      element.on('nav(demo1)', function (elem) {
        layer.msg(elem.text());
      });
    });
  </script>
</body>

</html>